{{yield}}

<div class="sidebar-panel offscreen-left">
        <div class="brand">
            <div class="brand-logo">
              <img src="assets/images/logo.c5cdf202.png" height="15">
            </div>
            <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-toggle="layout-small-menu">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </a>
        </div>
        <nav role="navigation">
            <ul class="nav">
                <li><a href="index.html"> <i class="fa fa-flask"></i> <span>Dashboard</span> </a></li>
                <li><a href="javascript:;"> <i class="fa fa-toggle-on"></i> <span>UI Elements</span> </a>
                    <ul class="sub-menu">
                        <li><a href="ui-buttons.html"> <span>Buttons</span> </a></li>
                        <li><a href="ui-general.html"> <span>General</span> </a></li>
                        <li><a href="ui-tabs-accordion.html"> <span>Tabs &amp; Accordions</span> </a></li>
                    </ul>
                </li>
            </ul>
        </nav>



    </div>
