<header class="header navbar">
  <div class="brand visible-xs">
    <div class="toggle-offscreen">
      <a href="javascript:;" class="hamburger-icon visible-xs"
        data-toggle="offscreen" data-move="ltr">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div class="brand-logo">
      <img src="assets/images/logo-dark.5ba260bb.png" height="15" alt="">
    </div>
    <div class="toggle-chat">
      <a href="javascript:;" class="hamburger-icon v2 visible-xs"
                                    data-toggle="layout-chat-open">
          <span></span>
          <span></span>
          <span></span>
      </a>
    </div>
    </div>
            <ul class="nav navbar-nav hidden-xs">
                <li><p class="navbar-text"> Blank Page </p></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li>
                  <a href="javascript:;" data-toggle="quick-launch-panel">
                    <i class="fa fa-circle-thin"></i>
                  </a>
                </li>
            </ul>
</header>
<div class="main-content"></div>
